# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
.venv/

# Django
*.log

# Database
db.sqlite3

# Media files
media/

# IDE
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.dbstaticfiles/

staticfiles/
